{% load static %}



<footer> 

  <div class="container text-center" id="footer-container">
    <div class="row">
      <div class="col-lg-12">

        <div class="tooltip-area">
          <a class="footer-link" href="https://www.linkedin.com/in/danhat/" target="_blank">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
          <span class="tooltip">LinkedIn Profile</span>
        </div>

        <div class="tooltip-area">
          <a class="footer-link" href="https://www.github.com/danhat/" target="_blank">
            <i class="fa-brands fa-github"></i>
          </a>
          <span class="tooltip">Github Profile</span>
        </div>

        <div class="tooltip-area">
          <a class="footer-link" href="{{me.userprofile.cv.url}}" target="_blank">
            <i class="fa-solid fa-file"></i>
          </a>
          <span class="tooltip">Resume</span>
        </div>
        
      </div>
    </div>

    <div>
      <br>
      <p>Copyright © {% now 'Y' %} All rights reserved. Designed by Danielle Hatten.</p>
    </div>

  </div>

</footer>

